@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: white;
  background: rgb(176, 0, 167);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #696969;
}

/* Global font ayarları */
* {
  font-family: "Mulish", sans-serif;
}
